body {
    font-family: Arial, sans-serif;
}

.card {
    margin-top: 20px;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#pdf-viewer {
    width: 100%;
    height: 600px;
    border: none;
    display: none; /* Oculto inicialmente */
}
